.json-viewer-container.default {
    background-color: rgba(248, 248, 248);

    min-width: 80px;
    min-height: 80px;

    padding: 16px;

    .json-name {
        color: #000;

        &.array-index {
            color: #0000FF;
        }
    }

    .json-value {
        &__object {
            margin-left: 4px;
            .fold-line {
                border-left: 1px dotted #aaa;
            }
        }

        &__string {
            color: #FF0000;
        }

        &__boolean {
            color: #0000FF;
        }

        &__integer,
        &__float {
            color: rgb(47, 100, 71);
        }

        &__null {
            color: #0000FF;
        }

        &__undefined,
        &__nan {
            box-sizing: border-box;
            padding: 0 4px;
            border-radius: 4px;
            color: #0000FF;
            // background-color: #0000;
            font-size: 11px;
        }
    }

    .json-braces {
        font-weight: bold;
        // cursor: pointer;

        &__start {
        }

        &__end {
            margin-left: 3px;
        }

        &__object {
            color: #000;
        }

        &__array {
            color: #000;
        }
    }

    .json-quotes {
        color: #000;
    }

    .json-colon {
        margin: 0 4px;
        color: #000;
        font-weight: bold;
    }

    .json-data-type-label {
        color: #aaa;
        margin-right: 8px;
    }

    .json-comma {
        color: #000;
    }

    .json-toggle {
        padding: 0 8px 0 0;
        color: #000;
        font-size: 13px;

        &__collapsed {
        }
    }

    .json-ellipsis {
        color: #000;
        font-weight: bold;
        padding: 0 5px;
    }

    .json-object-size {
        color: #aaa;
        font-size: 12px;
        padding: 0 5px;
        margin-left: 8px;
    }

    .json-node-toolbar {
        margin-left: 4px;

        color: #000;

        font-size: 14px;
    }
}
