.json-vuer.iron-man {
    background-color: #580203;

    min-width: 80px;
    min-height: 80px;

    padding: 16px;

    .json-name {
        color: #B69A50;

        &.array-index {
            color: #B69A50;
        }
    }

    .json-value {
        &__object {
            margin-left: 4px;
            .fold-line {
                border-left: 1px dotted rgb(156, 156, 156);
            }
        }
       

        &__string {
            color: #FDF8DD;
        }

        &__boolean {
            color: #ED696C;
        }

        &__integer {
            color: #B7E4F0;
        }

        &__float {
            color: #B7E4F0;
        }

        &__date {
            color: #FDF8DD;
        }

        &__undefined,
        &__null,
        &__nan {
            box-sizing: border-box;
            padding: 0 4px;
            border-radius: 4px;
            color: #ED696C;
            background-color: rgb(219, 219, 219);
            font-size: 11px;
        }
    }

    .json-braces {
        font-weight: bold;
        color: #B7E4F0;

        &.json-braces__object {
        }
        &.json-braces__array {
        }
    }

    .json-quotes {
        color: #B69A50;
    }

    .json-colon {
        margin: 0 4px;
        color: #B7E4F0;
        font-weight: bold;
    }

    .json-comma {
        color: #B7E4F0;
    }

    .json-data-type-label {
        color: #B7E4F088;
        margin-right: 8px;
    }

    .json-toggle {
        color: #B7E4F0;
        font-size: 13px;
        margin-right: 8px;
    }

    .json-ellipsis {
        color: #B7E4F0;
        font-weight: bold;
        padding: 0 5px;
    }


    .json-object-size {
        color: #B7E4F088;
        font-size: 12px;
        padding: 0 5px;
        margin-left: 8px;
    }


    .json-node-toolbar {
        margin-left: 4px;

        color: #fff;

        font-size: 14px;
       
    }

    .json-node-tool {
        &__copy__copied {
            color: rgb(136, 255, 136);
        }
    }
}
