.json-vuer.night {
    background-color: rgba(51, 51, 51);

    min-width: 80px;
    min-height: 80px;

    padding: 16px;

    .json-name {
        color: rgb(197, 112, 110);

        &.array-index {
            color: rgb(117, 169, 145);
        }
    }

    .json-value {
        &__object {
            margin-left: 4px;
            .fold-line {
                border-left: 1px dotted rgb(185,191,197, 0.5);
            }
        }

        &__string {
            color: rgb(197, 112, 110);
        }

        &__boolean {
            color: rgb(142, 181, 201);
        }

        &__integer,
        &__float {
            color: rgb(117, 169, 145);
        }

        &__null {
            color: rgb(142, 181, 201);
        }

        &__undefined,
        &__nan {
            box-sizing: border-box;
            padding: 0 4px;
            border-radius: 4px;
            color: rgb(142, 181, 201);
            font-size: 11px;
        }
    }

    .json-braces {
        font-weight: bold;
        color: rgb(185,191,197);
        // cursor: pointer;

        &__start {
        }

        &__end {
            margin-left: 3px;
        }

        &__object {
        }

        &__array {
        }
    }

    .json-quotes {
        color: rgb(197, 112, 110);
    }

    .json-colon {
        margin: 0 4px;
        color: rgb(185,191,197);
        font-weight: bold;
    }

    .json-data-type-label {
        color: rgb(185,191,197, 0.5);
        margin-right: 8px;
    }

    .json-comma {
        color: #000;
    }

    .json-toggle {
        padding: 0 8px 0 0;
        color: rgb(185,191,197);
        font-size: 13px;

        &__collapsed {
        }
    }

    .json-ellipsis {
        color: rgb(185,191,197, 0.5);
        font-weight: bold;
        padding: 0 5px;
    }

    .json-object-size {
        color: #aaa;
        font-size: 12px;
        padding: 0 5px;
        margin-left: 8px;
    }

    .json-node-toolbar {
        margin-left: 4px;

        color: rgb(185,191,197, 0.5);

        font-size: 14px;
    }

    .json-node-tool {
        &__copy__copied {
            color: #00FF00;
        }
    }
}
